= provide :title, @user.full_name

h1.name= @user.full_name

= image_tag @user.profile_picture(:medium), class: "profile"
= link_to "About", about_user_path(@user), class: "about"
= projects_page_link @user

= render('posts/form') if @user == current_user

- if current_user.present? and current_user == @user
  = edit_profile_link @user

= render 'shared/post_list'
